html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #065bc6 0%, #3c8bf4 25%, #7fb0fd 50%, #d2dbeb 75%, #c7def6 100%) no-repeat,
            linear-gradient(to bottom, #c7def6 0%, #d2dbeb 25%, #7fb0fd 50%, #3c8bf4 75%, #065bc6 100%) repeat-y;
  //background-attachment: fixed;
  width: 100vw;
}

.lang-switch {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
}
.nav-icon.person {
  font-size: 28px;
  margin-top: -0.15rem;
}
.dropdown-toggle::after {
  vertical-align: 0.5em;
}
.clouds {
  display: block;
  position: absolute;
  z-index: -999;
  height: calc(100% - 16.6666666667rem);
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}
.cl-easy {
  background: url("../img/easy.png") no-repeat;
}
.cl-big {
  background: url(../img/big.png) no-repeat;
  transform: translateX(900px) translateY(550px)
}
.cl-one {
  background: url(../img/one.png) no-repeat;
  transform: translateY(450px) translateX(-390px);
}
body.modal-open {
  overflow: hidden;
}
.dropdown-menu {
  width: 100%;
}
.form-check {
  padding: 0.25rem 2.5rem 0.25rem 2.5rem !important;
}
.nav-link {
  color: rgba(255, 255, 255, 0.5) !important;
}
.form-check label {
  width: 100%;
}
.dropdown-menu-right .row {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0.7rem;
}
.row .col-auto p {
  margin-bottom: -0.5rem;
  margin-top: auto;
}
.row .col-auto {
  padding-left: 1.25rem;
  padding-right: 0rem;
}
.col-3 a i {
  vertical-align: text-bottom;
  margin-top: 0.5rem;
}
.dropdown-menu .col-3 {
  padding-right: 0.3rem;
  padding-left: 0;
  margin-right: 0.6rem;
}
.main {
  background-color: white;
}
.result-days {
  text-align: center;
  padding: 2rem;
}
.ticket-info, .ticket-price {
  //border: 1px black solid;
  padding: 2rem;
}
.ticket-time-fr, .ticket-time-to, .ticket-time, .ticket-id, .ticket-result {
  padding: 1rem;
  text-align: center;
}
.ticket-time-fr, .ticket-time-to {
  font-weight: 800;
  font-size: 20px; 
}
.ticket-city {
  font-weight: 500;
  font-size: 18px;
}
.ticket-time {
  font-size: 14px;
}
.ticket-id {
  font-style: italic;
}
.ticket-econom, .ticket-optim, .ticket-premium {
  padding: 1rem 3rem;
  font-size: 18px;
  font-weight: 700;
}
.ticket-arrow {
	position: relative;
	width: 100%;
	height: 1px;
	background-color: #003594;
}

.ticket-arrow:before {
	content: "";
	position: absolute;
	top: -4px;
	right: 1px;
	width: 8px;
	height: 8px;
	border-top: 1px solid #003594;
	border-right: 1px solid #003594;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.trip {
  display: flex;
}
.info-trip {
  display: block;
}
.info-trip p {
  line-height: 2;
}
.city-trip h3 {
  font-weight: 550;
}
.photo-profile img {
  border: rgb(119, 119, 245) 3px solid;
}
.photo-profile, .about-profile, .status {
  padding: 2.5rem;
}
.page-footer {
  background: #002715;
}
footer {
  //flex-shrink: 0;
  //flex: 1 1 auto;
  width: 100%;
}

.zagalovok {
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.863);
}
.nav-image {
  background: url(../img/log-df2.png) no-repeat 50% 50%;
  background-size: 100%;
  min-width: 250.4px;
  min-height: 150px;
}

//input number 
.button-number-passengers {
  background: transparent; 
  border: none;
}
.dropdown-menu {
  min-width: 280px;
}
.nav-item .dropdown-menu {
  padding: 1rem;
  min-width: 200px;
}
.input-number {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: center;
  border: none;
  
}
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin:0;
}
.input-number:hover,
.input-number:focus {
  -moz-appearance: number-input;
}

// Bootstrap Sass Imports
// node_modules/bootstrap/scss/_variables.scss
// @import "node_modules/bootstrap/scss/bootstrap"; 
// MOVED TO A SEPARATE FILE