
body {
  background: linear-gradient(to bottom,#065bc6 0%,#3c8bf4 25%,#7fb0fd 50%,#d2dbeb 75%,#c7def6 100%);
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
}
.lang-switch {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
}
.nav-icon.person {
  font-size: 28px;
  margin-top: -0.15rem;
}
.dropdown-toggle::after {
  vertical-align: 0.5em;
}
.clouds {
  display: block;
  position: absolute;
  z-index: -1;
  height: calc(100% - 16.6666666667rem);
  width: 100%;
  left: 0;
  top: 0;
}
.cl-easy {
  background: url("../img/easy.png");
}
body.modal-open {
  overflow: hidden;
}
.dropdown-menu {
  width: 100%;
}
.form-check {
  padding: 0.25rem 2.5rem 0.25rem 2.5rem !important;
}
.nav-link {
  color: rgba(255, 255, 255, 0.5) !important;
}
.form-check label {
  width: 100%;
}
.dropdown-menu-right .row {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0.7rem;
}
.row .col-9 p {
  margin-bottom: -0.5rem;
  margin-top: auto;
}
.row .col-9 {
  padding-left: 1.25rem;
  padding-right: 0rem;
}
.col-3 a i {
  vertical-align: text-bottom;
  margin-top: 0.5rem;
}
.dropdown-menu .col-3 {
  padding-right: 0.3rem;
  padding-left: 0;
}
// Bootstrap Sass Imports
// node_modules/bootstrap/scss/_variables.scss
// @import "node_modules/bootstrap/scss/bootstrap"; 
// MOVED TO A SEPARATE FILE